[package]
name = "lact-schema"
version = "0.5.2"
edition = "2021"

[features]
args = ["clap"]

[dependencies]
amdgpu-sysfs = { version = "0.12.10", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
indexmap = { version = "*", features = ["serde"] }
clap = { version = "4.4.11", features = ["derive"], optional = true }
serde_with = { version = "3.4.0", default-features = false, features = [
    "macros",
] }

[dev-dependencies]
serde_json = "1.0"
