[package]
name = "lact-schema"
version = "0.5.5"
edition = "2021"

[features]
args = ["clap"]

[dependencies]
amdgpu-sysfs = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }
serde-error = "=0.1.2"
anyhow = { workspace = true }

indexmap = { version = "*", features = ["serde"] }
clap = { version = "4.4.18", features = ["derive"], optional = true }

[build-dependencies]
vergen = { version = "8.0.0", features = ["git", "gitcl"] }

[dev-dependencies]
serde_json = { workspace = true }
