[package]
name = "lact-schema"
version = "0.5.3"
edition = "2021"

[features]
args = ["clap"]

[dependencies]
amdgpu-sysfs = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }

indexmap = { version = "*", features = ["serde"] }
clap = { version = "4.4.18", features = ["derive"], optional = true }

[dev-dependencies]
serde_json = { workspace = true }
