[workspace]
resolver = "2"
members = [
    "lact",
    "lact-cli",
    "lact-gui",
    "lact-schema",
    "lact-client",
    "lact-daemon",
]

[workspace.dependencies]
amdgpu-sysfs = { version = "0.17.0", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "3.5.0", default-features = false, features = [
    "macros",
] }
serde_json = "1.0.111"
anyhow = "1.0.79"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
nix = { version = "0.29.0", default-features = false }
chrono = "0.4.31"

[profile.release]
strip = "symbols"
opt-level = "s"
lto = true

[profile.bench]
strip = false
debug = true
