.color-probe-theme-base-color {
    color: @theme_base_color;
}

.color-probe-theme-text-color {
    color: @theme_text_color;
}

.color-probe-borders {
    color: @borders;
}

.color-probe-unfocused-borders {
    color: @unfocused_borders;
}

.color-probe-theme-unfocused-fg-color {
    color: @theme_unfocused_fg_color;
}

.color-probe-success-color {
    color: @success_color;
}

.color-probe-accent-bg-color {
    color: @accent_bg_color;
}

.color-probe-error-color {
    color: @error_color;
}

.color-probe-warning-color {
    color: @warning_color;
}
