[Desktop Entry]
Type=Application
Name=LACT
GenericName=GPU Control Application
Exec=lact gui
Icon=io.github.lact-linux
Categories=System;
Keywords=AMD;GPU;Radeon;
