[Unit]
Description=LACT GPU Control Daemon
After=systemd-udev.service

[Service]
ExecStart=lact daemon
Nice=-10
Restart=on-failure

[Install]
WantedBy=multi-user.target
