[package]
name = "lact-gui"
version = "0.5.1"
authors = ["Ilya Zlobintsev <ilya.zl@protonmail.com>", "Gabriele Musco <gabmus@disroot.org>"]
edition = "2021"

[features]
default = ["gtk-tests"]
gtk-tests = []
libadwaita = ["dep:adw"]

[dependencies]
lact-client = { path = "../lact-client" }
lact-daemon = { path = "../lact-daemon", default-features = false }
gtk = { version = "0.7", package = "gtk4", features = ["v4_6", "blueprint"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
anyhow = "1.0"
adw = { package = "libadwaita", version = "0.5.3", features = ["v1_4"], optional = true }

[dev-dependencies]
pretty_assertions = "1.4.0"
