[package]
name = "lact-gui"
version = "0.5.4"
authors = ["Ilya Zlobintsev <ilya.zl@protonmail.com>"]
edition = "2021"

[features]
default = ["gtk-tests"]
gtk-tests = []
bench = []

[dependencies]
lact-client = { path = "../lact-client" }
lact-daemon = { path = "../lact-daemon", default-features = false }

amdgpu-sysfs = { workspace = true }
tracing = { workspace = true }
anyhow = { workspace = true }
tracing-subscriber = { workspace = true }

gtk = { version = "0.8", package = "gtk4", features = ["v4_6", "blueprint"] }
adw = { package = "libadwaita", version = "0.6.0", features = [
    "v1_4",
], optional = true }

plotters = { version = "0.3.5", default-features = false, features = [
    "datetime",
    "line_series",
    "ttf",
    "histogram",
    "full_palette",
] }
plotters-cairo = { git = "https://github.com/plotters-rs/plotters-cairo" }
chrono = "0.4"
itertools = "0.12.1"

[dev-dependencies]
criterion = "0.5.1"
pretty_assertions = "1.4.0"
lact-gui = { path = ".", features = ["bench"] }
lact-schema = { path = "../lact-schema", features = ["args"] }

[[bench]]
name = "gui"
harness = false
