[package]
name = "lact-gui"
version = "0.5.7"
authors = ["Ilya Zlobintsev <ilya.zl@protonmail.com>"]
edition = "2021"

[features]
default = ["gtk-tests"]
gtk-tests = []
bench = []
adw = ["dep:adw", "relm4/libadwaita"]

[dependencies]
lact-client = { path = "../lact-client" }
lact-daemon = { path = "../lact-daemon", default-features = false }
lact-schema = { path = "../lact-schema", features = ["args"] }

amdgpu-sysfs = { workspace = true }
tracing = { workspace = true }
anyhow = { workspace = true }
tracing-subscriber = { workspace = true }
chrono = { workspace = true }

gtk = { version = "0.9", package = "gtk4", features = ["v4_6", "blueprint"] }
adw = { package = "libadwaita", version = "0.7.0", features = [
    "v1_4",
], optional = true }
relm4 = "0.9.0"
relm4-components = "0.9.0"

plotters = { version = "0.3.5", default-features = false, features = [
    "datetime",
    "line_series",
    "ttf",
    "histogram",
    "full_palette",
] }
plotters-cairo = "0.7.0"
cairo-rs = { version = "0.20", default-features = false }
itertools = "0.13.0"

[dev-dependencies]
pretty_assertions = "1.4.0"
