.adjustment-list > row {
    padding: 5px 10px;
}

.adjustment-list > row:first-child {
    padding-top: 10px;
}

.adjustment-list > row:last-child {
    padding-bottom: 10px;
}

.adjustment-row scale {
    padding: 10px 0;
}

.adjustment-row menubutton > button {
    padding: 3px 6px;
}

.adjustment-card-advanced-features {
    background-color: alpha(@window_fg_color, 0.05);
}

.adjustment-card-advanced-features .adjustment-card-option-toggle {
    border-radius: 25px;
}

.adjustment-card-advanced-features .adjustment-card-option-toggle:checked {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
