.page-section-content {}

.page-section-children-box {
    margin: 10px;
}

.page-section-no-container .page-section-children-box {
    margin: 0;
}

.page-section-no-container .boxed-list row {
    padding: 10px;
}
