[package]
name = "lact"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lact-daemon = { path = "../lact-daemon" }
lact-gui = { path = "../lact-gui" }
anyhow = "1.0.68"
clap = { version = "4.0.32", features = ["derive"] }
