[package]
name = "lact"
version = "0.4.2"
edition = "2021"

[features]
default = ["lact-gui", "drm"]
drm = ["lact-daemon/drm"]

[dependencies]
lact-daemon = { path = "../lact-daemon", default-features = false }
lact-cli = { path = "../lact-cli" }
lact-gui = { path = "../lact-gui", optional = true }
anyhow = "1.0.70"
clap = { version = "4.2.2", features = ["derive"] }
