[package]
name = "lact-daemon"
version = "0.4.3"
edition = "2021"

[features]
default = ["drm"]
drm = ["libdrm_amdgpu_sys"]

[dependencies]
anyhow = "1.0"
bincode = "1.3"
nix = "0.26"
pciid-parser = { version = "0.6", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
tokio = { version = "1.28.1", features = [
    "rt",
    "macros",
    "net",
    "io-util",
    "time",
    "signal",
    "sync",
] }
tracing = "0.1"
tracing-subscriber = "0.3"
vulkano = "0.33.0"
lact-schema = { path = "../lact-schema" }
futures = { version = "0.3.28", default-features = false, features = [
    "std",
    "alloc",
] }
serde_with = { version = "3.0.0", default-features = false, features = [
    "macros",
] }
zbus = "3.12.0"
libdrm_amdgpu_sys = { optional = true, version = "0.1.4" }
