[package]
name = "lact-daemon"
version = "0.6.1"
edition = "2021"

[features]
default = []
bench = ["dep:divan"]

[dependencies]
lact-schema = { path = "../lact-schema" }

amdgpu-sysfs = { workspace = true }
anyhow = { workspace = true }
tracing = { workspace = true }
serde = { workspace = true, features = ["rc"] }
serde_with = { workspace = true }
serde_json = { workspace = true }
tracing-subscriber = { workspace = true }
nix = { workspace = true, features = ["user", "fs"] }
chrono = { workspace = true }
tokio = { workspace = true, features = [
    "rt",
    "macros",
    "net",
    "time",
    "signal",
    "sync",
] }
futures = { workspace = true }
indexmap = { workspace = true }
divan = { workspace = true, optional = true }

nvml-wrapper = { git = "https://github.com/ilya-zlobintsev/nvml-wrapper", branch = "lact" }
bitflags = "2.6.0"
pciid-parser = { version = "0.7", features = ["serde"] }
serde_yaml = "0.9"
vulkano = { version = "0.34.1", default-features = false }
zbus = { version = "4.1.2", default-features = false, features = ["tokio"] }
libdrm_amdgpu_sys = { version = "0.7.5", default-features = false, features = [
    "std",
] }
tar = "0.4.40"
libflate = "2.0.0"
os-release = "0.1.0"
notify = { version = "6.1.1", default-features = false }
regex = "1.11.0"
copes = { git = "https://gitlab.com/corectrl/copes" }

[dev-dependencies]
divan = { workspace = true }
pretty_assertions = { workspace = true }
lact-daemon = { path = ".", features = ["bench"] }
insta = { version = "1.41.1", features = ["json", "yaml"] }

[build-dependencies]
bindgen = "0.68"

[[bench]]
name = "daemon"
harness = false
