[package]
name = "lact-daemon"
version = "0.4.6"
edition = "2021"

[features]
default = ["drm"]
drm = ["libdrm_amdgpu_sys"]

[dependencies]
anyhow = "1.0"
bincode = "1.3"
nix = { version = "0.27", features = ["user", "fs", "process"] }
pciid-parser = { version = "0.7", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
tokio = { version = "1.33.0", features = [
    "rt",
    "macros",
    "net",
    "io-util",
    "time",
    "signal",
    "sync",
] }
tracing = "0.1"
tracing-subscriber = "0.3"
vulkano = { version = "0.33.0", default-features = false }
lact-schema = { path = "../lact-schema" }
futures = { version = "0.3.28", default-features = false }
serde_with = { version = "3.3.0", default-features = false, features = [
    "macros",
] }
zbus = { version = "3.14.1", default-features = false, features = ["tokio"] }
libdrm_amdgpu_sys = { optional = true, version = "0.2.1" }
