/* currently used for tests */
.app {
}

.main-sidebar-container .sidebar {
    border-right-width: 0;
}

.main-sidebar-container separator {
    margin: 0 10px;
}

.main-sidebar-container .sidebar-section {
    margin: 4px 8px 8px 8px;
}

.bootstrap-spinner-large {
    min-width: 64px;
    min-height: 64px;
    -gtk-icon-size: 64px;
}
