/* currently used for tests */
.app {
}

.main-sidebar-container .navigation-sidebar {
    border-right-width: 0;
}

.navigation-sidebar .stats-config-button {
    opacity: 0;
}

.navigation-sidebar row:hover .stats-config-button,
.navigation-sidebar row:selected .stats-config-button,
.navigation-sidebar row:focus-within .stats-config-button {
    opacity: 1;
}

.main-sidebar-container separator {
    margin: 0 10px;
}

.main-sidebar-container .sidebar-section {
    margin: 4px 8px 8px 8px;
}
