name: Build packages

on:
  push:
    branches: ['master']
    tags: '*'
  pull_request:

jobs:
  build-packages:
    strategy:
      matrix:
        target-os: [ debian-12, ubuntu-2204, ubuntu-2404, fedora-42, fedora-43, arch, opensuse-tumbleweed ]
        recipe: [ lact, lact-headless ]
        include:
          - target-os: rhel-8
            recipe: lact-headless
          - target-os: rhel-9
            recipe: lact-headless
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Import gpg key
        run: |
          echo -n "$GPG_KEY" | base64 -d > /tmp/package-signing-key.gpg
          echo -n "$GPG_KEY" | base64 -d | gpg --import || true
        env:
          GPG_KEY: ${{ secrets.GPG_KEY }}

      - name: Install pkger
        run: |
          curl -L -o /usr/local/bin/pkger https://github.com/ilya-zlobintsev/pkger/releases/download/v0.11.4/pkger
          chmod +x /usr/local/bin/pkger
      
      # A GitHub Action that implements smart caching for rust/cargo projects with sensible defaults.
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: Build packages (with signing)
        if: ${{ (contains(matrix.target-os, 'fedora') || contains(matrix.target-os, 'opensuse') || matrix.target-os == 'rhel-9') && env.GPG_KEY_PASSWORD != '' }}
        run: pkger -t -c .pkger.yml build ${{ matrix.recipe }} -i ${{ matrix.target-os }}
        env:
          GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}

      - name: Build packages (without signing)
        if: ${{ !(contains(matrix.target-os, 'fedora') || contains(matrix.target-os, 'opensuse') || matrix.target-os == 'rhel-9') || env.GPG_KEY_PASSWORD == '' }}
        run: pkger -t -c .pkger.yml build --no-sign ${{ matrix.recipe }} -i ${{ matrix.target-os }}
        env:
          GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}

      - name: Copy release files
        run: |
          OUT_DIR=$PWD/release-artifacts
          mkdir -p $OUT_DIR
          
          pushd pkg/output
          for DISTRO in $(ls); do
              cd $DISTRO
              rm -f *.src.rpm
          
              for FILE in $(ls); do
                  NAME="${FILE%.*}"
                  EXT="${FILE##*.}"
          
          	OUT_NAME="$OUT_DIR/$NAME.$DISTRO.$EXT"
          	cp $FILE $OUT_NAME
              done 
              cd ..
          done
          popd

      - name: Save gpg key
        run: |
          gpg --armor --export > $PWD/release-artifacts/lact.pubkey

      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{ matrix.target-os }}-${{ matrix.recipe }}
          path: release-artifacts/*

  build-flatpak:
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-47
      options: --privileged
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@92ae9851ad316786193b1fd3f40c4b51eb5cb101 # v6
      with:
        bundle: io.github.ilya_zlobintsev.LACT.flatpak
        manifest-path: flatpak/io.github.ilya_zlobintsev.LACT.yaml
        cache-key: flatpak-builder-${{ github.sha }}
    - name: Upload artifacts
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: flatpak
        path: io.github.ilya_zlobintsev.LACT.flatpak
        
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Log into GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker image metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: pkg/docker/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  create-test-release:
    needs: [build-packages, build-flatpak]
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/master')

    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4
        with:
          path: downloaded-artifacts/

      - name: Create release
        uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e # v1.12.0
        with:
          removeArtifacts: true
          allowUpdates: true
          artifactErrorsFailBuild: false
          artifacts: "downloaded-artifacts/*/*"
          body: ${{ github.event.head_commit.message }}
          prerelease: true
          name: Test release
          tag: test-build

      - name: Update test-build tag
        run: |
          git tag -f test-build
          git push -f origin test-build
        shell: bash

  create-stable-release:
    needs: [build-packages, build-flatpak]
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))

    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4
        with:
          path: downloaded-artifacts/

      - name: Create release
        uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e # v1.12.0
        with:
          artifacts: "downloaded-artifacts/*/*"
          name: ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          body: ${{ github.ref_name }} changelog goes here
          draft: true
