name: Rust

on:
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: Update repos
        run: sudo apt update
      - name: Install dependencies
        run: sudo apt install -y libgtk-4-dev pkg-config libvulkan-dev libdrm-dev curl fuse3 libfuse-dev ocl-icd-libopencl1
      - name: Update pci.ids
        run: sudo curl -o /usr/share/hwdata/pci.ids https://pci-ids.ucw.cz/v2.2/pci.ids
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test --verbose

  check-format:
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: install rustfmt
        run: rustup component add rustfmt
      - name: Check formatting
        run: cargo fmt -- --check
