name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
      - name: Update repos
        run: sudo apt update
      - name: Install dependencies
        run: sudo apt install libgtk-4-dev pkg-config libvulkan-dev
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test --verbose

  check-format:
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v2
      - name: install rustfmt
        run: rustup component add rustfmt
      - name: Check formatting
        run: cargo fmt -- --check
